@import url('https://fonts.cdnfonts.com/css/helvetica-neue-9');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
    border: 1px solid red;
}

body {
    font-family: 'Helvetica Neue', sans-serif;
/*  font-family: 'Helvetica 25 UltraLight', sans-serif;
    font-family: 'Helvetica 35 Thin', sans-serif;
    font-family: 'Helvetica 45 Light', sans-serif;
    font-family: 'Helvetica 55 Roman', sans-serif;
    font-family: 'Helvetica 65 Medium', sans-serif; */


    width: 100%;
    margin: 0 auto;
    padding: 3px 25px;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}



/* START HEADER */

.header {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-left, .top-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.top-left {
    width: 300px;
}
.top-right {
    width: 200px;
}

.logo {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
}
.logo img {
    object-fit: cover;
    width: 80%;
}
.logo img:hover {
    cursor: pointer;
}

.searchbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 225px;
    height: 40px;
    border-radius: 40px;
    color: #757575;
    overflow: hidden;
}

.bar {
    width: 185px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 13px;
    font-family: 'Helvetica 35 Thin', sans-serif;
    padding: 5px;
    border: 0;
    position: relative;
    top: -1px;
}
.searchbar, .bar {
    background-color: #f1f1f1;
}

.bar:focus-visible {
    outline: none;
}

.top-right div {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Helvetica 35 Thin', sans-serif;
    color: #757575;
}

.write {
    display: flex;
    align-items: center;
    font-size: 14px;
    gap: 3px;
}
.write span:first-child {
    position: relative;
    bottom: 2px;
    font-size: 22px;
}
.write:hover, .alert:hover, .account:hover {
    color: #292929;
    cursor: pointer;
    user-select: none;
}

.alert span{
    font-size: 28px;
}

.account span:first-child {
    font-size: 36px;
}
.account span:last-child {
    margin: 0 -4px;
    font-size: 20px;
}

/* END HEADER */



/* START SUB-HEADER */

.sub-header {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: rgb(241, 241, 224);
}

.sub-header:nth-child(2), .sub-header:nth-child(3) {
    color: #292929;
    font-size: 14px;
    font-family: 'Helvetica 65 Medium', sans-serif;
    font-weight: 500;
}
.sub-header a {
    color: #292929;
    font-weight: 700;
}
.sub-header a:hover {
    color: #5c5c5c;
}

/* END SUB-HEADER */



/* START NAVBAR */

.navbar-wrapper {
    width: 100%;
    height: 100%;
    padding: 2em 0em;
    display: flex;
    align-items: center;
}

.navbar {
    display: flex;
    align-items: center;
    justify-self: start;
    height: 50px;
    width: 100%;
    padding: 0em 2em;
}

.navbar ul{
/*     border: 1px solid red; */
    border-bottom: 1px solid rgb(230, 230, 230);
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 2em;
    height: 100%;
    width: 100%;
    color: #757575;
    font-size: 13px;
    font-family: 'Helvetica 45 Light', sans-serif;
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow: hidden;

}
.navbar ul li {
    height: 100%;
    display: flex;
    align-items: center;
}
.navbar ul li:nth-child(2) {
    color: rgba(41, 41, 41, 1);
    border-bottom: 1px solid rgba(41, 41, 41, 1);
    font-weight: 700;
    cursor: pointer;
}
.navbar ul li:not(:nth-child(2)):hover {
    color: #5c5c5c;
    border-bottom: 1px solid #757575;
    cursor: pointer;
}
.navbar ul li:nth-child(1):hover{
    cursor: pointer;
    color: #292929;
    border-bottom: 0;
}
/* END NAVBAR */



.main {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
}

.home {
    width: 70%;
    display: flex;
    flex-direction: column;
}



/* START NEWS */

.news {
    padding: 0em 2em;
}
.news article {
    border: 1px solid red;
    margin: 1em 0em;
}

/* END NEWS */



.sidebar {
    width: 30%;
}